html {
	padding: 0.01% 15%;
	font-family: "微軟正黑體";
	color: white;
}

#all {
	background-color: rgb(53, 59, 72);
	padding: 0.5% 1%;
}

#border {
	border: 6px solid white;
	margin: 5%;
	display: flex;
}

#left {
	width: 50%;
	padding-left: 4%;
	margin-bottom: 6%;
}

#right {
	width: 50%;
	padding-left: 4%;
	margin-top: 10%;
	margin-bottom: 6%;
}

#titlebox {
	position: relative;
}

#title {
	font-size: 55px;
	margin-bottom: 18px;
	margin-left: 0.8em;
	position: relative;
	transition: 0.4s;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

#title:hover {
	color: rgb(254, 211, 48);
}

h3 {
	color: rgb(254, 211, 48);
	font-size: 20px;
	margin-left: 10px;
}

h3>span {
	color: white;
	font-size: 16px;
}

.underline {
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 3px solid rgb(254, 211, 48);
}

#mid-title {
	font-size: 1.3em;
	font-weight: bold;
}

.space {
	margin-right: 1.3em;
}

.button {
	display: block;
	margin: 8%;
	width: 82px;
	background-color: rgb(53, 59, 72);
	color: white;
	border: 3px solid rgb(254, 211, 48);
	padding: 0.5% 1%;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	transition: all 0.7s;
}

.button:hover {
	color: rgb(251, 197, 49);
	background-color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	transition: all 0.7s;
	border-radius: 45px;
}

.bar {
	width: 80%;
	background-color: white;
	border-radius: 45px;
	z-index: -1;
	padding: 1.3%;
}

.bar-long {
	text-align: right;
	color: black;
	font-weight: bold;
	border-radius: 45px;
	padding: 0 5px;
	background-color: rgb(254, 211, 48);
}

@keyframes word {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bar-percent-20 {
	width: 20%;
	animation: bar-ani-20 3s, word 2s;
}

@keyframes bar-ani-20 {
	from {
		width: 0px;
	}
	to {
		width: 20%;
	}
}

.bar-percent-50 {
	width: 50%;
	animation: bar-ani-50 3s, word 2s;
}

@keyframes bar-ani-50 {
	from {
		width: 0px;
	}
	to {
		width: 50%;
	}
}

.bar-percent-60 {
	width: 60%;
	animation: bar-ani-60 3s, word 2s;
}

@keyframes bar-ani-60 {
	from {
		width: 0px;
	}
	to {
		width: 60%;
	}
}

.bar-percent-70 {
	width: 70%;
	animation: bar-ani-70 3s, word 2s;
}

@keyframes bar-ani-70 {
	from {
		width: 0px;
	}
	to {
		width: 70%;
	}
}

#hid {
	width: 0%;
	transition: 0.5s;
}

#hid>img {
	width: 100%;
}

#timeline>p {
	margin-left: 20px;
	color: rgba(255, 255, 255, 0.7);
	transition: 0.5s;
}

#timeline>p:hover {
	color: rgb(254, 211, 48);
}

.facolor {
	color: white;
	margin: 10px;
	border-radius: 50px;
	transition: 0.7s;
}

.facolor:hover {
	color: rgb(254, 211, 48);
}

.icon-btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	background-color: transparent;
	border: 0.005em solid transparent;
	border-radius: 50px;
}

#back-to-top {
	color: rgb(254, 211, 48);
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 45px;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
			box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	font-weight: bold;
	position: fixed;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	display: none;
	background-color: rgb(53, 59, 72);
}
